
@{
    ViewBag.Title = "Patrick Yee - Projects";
}

<div class="container">
    <div class="jumbotron">
        <h1>Recent Projects</h1>
        <p>Most of these projects were programmed in C#.  Patrick wanted a little push, so he attended the Seed Paths program.  He was not excepted to learn too much from the program, but he did.  The following projects are from the Seed Paths program.  Patrick used his books from past experiences to program some of the projects. </p>
        <h2>Favorit.es</h2>
        <p>It was a in-class lesson at Seed Paths, but Patrick put some thought into it.  Got some features that the instructor did not teach in his lesson.  The website uses the 'Flickr' API to display photos from the 'Flickr' database based on tags that the user inputs.  The photos are from 'Flickr' users.  Coded in C# .NET MVC with Visual Studio 2013.  The lesson related how the coder can program an HTML website with C# and an Application Program Interface (API).  When, the user selects a photo to be placed into the user's favorites.  The user can view the favorites and the user can remove photos from there favorites.  Patrick programmed if the user has one photo in there favorites and decided to remove it.  The website will redirect the user back the index of the website.  This website is a working process, Patrick wants to try out, research, or reengineer components on other websites.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/Favorit.es-FirstDraft" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a>
        </div>
        <h2>Cheese Nibbler v0.2</h2>
        <p>A console program or game programmed in C#, where the user or the player is a hero or a mouse that navigates around a level to find the cheese or the goal.  This is the part of another game where the goal was the end of the level and at certain level enemies will appear.  At the current state of the game, the enemies follows the hero until they on the same position on the level and the game ends.  Patrick wants to integrate this program with another one.  This is portion or a module of a large game.  Patrick knows that most programs, games, and website are made up of a number of features or projects.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/CheeseNibberV2" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a><!-- Put the github icon here-->
        </div>
        <h2>Master of the Universe</h2>
        <p>console game programmed in C#, where the player is fights Skeletor with 2 types of attacks.  The player can also heal.  Skeletor has similar attacks and healing properties.  This game displays the implementation of classes and inheritance.  The strong attacks has a chance to do critical damage to a player, but it can miss.  The second attack is a weaker, but it always hits.  The healing power is not a certain amount, where a character can heal for couple of health points or the full amount.  The story behind this game was not because Patrick likes He-man.  Patrick was in a fraternity at Colorado State University, Triangle Fraternity.  When, he was pledging Triangle Fraternity, his pledge name was Skeletor.  Now, Patrick plays Counter-Strike and other games with the gamer name, 5k3l3t0r.  The bases of this game is that there is a lot of trolls or annoying players that Patrick encounters.  This portion or modules simulates a combat simulator between a player and non-player character.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/CombatSimulatorV2" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a><!-- Put the githib icon here-->
        </div>
        <h2>Poker Player</h2>
        <p>This is a console program in C# using objects.  There is deck class, which is the container, for another class, card.  There are many cards.  The logic of the program determines if the user has a high card, pair, 2 pairs, 3 of kind, full hand, 4 of kind, straight, flush, and straight flush.  The logic is using lambda expressions.  This program can be used as the backbone for a poker game.  There is no artificial intelligence for the non-player character.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/PokerPlayer" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a><!-- Github icon here -->
        </div>
        <h2>Speed is the key</h2>@*Week 3 code challenge*@
        <p>Big numbers means more time to get results.  Getting the prime for a certain nth prime can be taxing on a system.  Then, with that getting a total of the even primes.  There are algorithms to find the primes, but which one is the fastest to get results.  Patrick find that square rooting the number to be evaluate made the program transverse faster.  When, a number was divisible by any number besides itself and 1.  Another algorithm with this project is finding the series of Fibonacci based on a nth term.  There are a number of ways to do this. Using an array and also giving the sum, but it could a long time and the memory could run out.  When, memory runs out the system has to relocate resources to get the end results.  The last algorithm of this project was Euler 14, finding the longest Collatz sequence.  A Collatz sequence is when a number is even it's divide by 2 and when it is odd it is time 3 and add 1 until the last number is 1.  Each transverse is a sequence.  Patrick found using a recursive function and lambda expressions to be the fastest.  Apparently, he could use his first attempt at the problem and an array for each nth sequence.  When, the higher nth terms reaches a stored sequence, it cuts the time down.  There is a number of ways to do these algorithms.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/Week3CodeChallenge" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a>
        </div>
        <h2>CVS: Listening Habits and Real Estate</h2>
        <p>Using lambda expressions with a table, if it is someone's listening habits with Last.FM or a multi-listing services.  Patrick saw a relationship with Lambda expressions and SQL statements.  Lambda expressions make understanding querying through a table much easier.  You could use many loops to find the data that you are looking for, but it takes a lot of time and resources to do this way.</p>
        <div class="text-center">
            <table class="table">
                <tr>
                    <td><a href="https://github.com/PatrickSHYee/CSV-ListeningHabits" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source code for Listening Habits</a></td>
                    <td><a href="https://github.com/PatrickSHYee/CSV-RealEstate" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code for Real Estate</a></td>
                </tr>
                </table>
        </div>
        <h2>Reddit: Daily Programmer</h2>
        <p>Took a break from programming to do the SCRUM master training.  Patrick took 2 challenges from reddit's Daily Programmer.  The first challenge he programmed was an April fool program where one of the modders decoded a message or a challenge and now they can decode the text.  Patrick program this in 5 minutes and saw another challenge that he wanted to use this program with another one.  He found a similar mastermind game that uses words.  Patrick wanted to use the decoding challenge to make the mastermind game more challenging.  This portion of the program is in progress.</p>
        <p>The second challenge Patrick took on was to find the date of Easter Sunday for a range of years.  Patrick has worked a number of Easter Sundays, but he can't tell you the date of any given year.  The only thing he could tell you it was a Sunday.  Given the resources from C# like the object DateTime, Patrick found the first Sunday that occurs in April.  After he programmed this he added his own challenge and programmed the other holidays.  When, the holiday occurs on a certain date, he found the day when the holiday occurs.  His next challenge for this challenge is to find the lunar new years.  This challenge can be for a calendar or a task manager for a real estate agent.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/DailyProgrammer-Template" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br /><br />Github - Source Code</a>
        </div>
        <h2>The Hanging Man</h2>
        <p>This game of hangman is a gruesome one, where there were a lot of hanging men over the time.  This game starts with the man hanging, you guess letters to earn the whole body of the hanging man.  If you guessed wrong the game takes a body part.  Patrick programmed the game to be impossible, so he made two difficulties: normal mode and extreme mode.  He wanted to programmed points or money, where the player can buy back the body parts.  Each correct letter gives the player some points.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/Week3CodeChallenge" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github- Source Code</a>
        </div>
    </div>
</div>


