
@{
    ViewBag.Title = "Recent";
}

<div class="container">
    <div class="jumbotron">
        <h1>Past Projects</h1>
        <p>Patrick attended and graduated Westwood College of Technology, where he learned about designing and programming video games.  His dream job to work for or own a video game company as a software engineer.  Patrick develop his own 2D engine and used software development kits (SDK).  The following projects are programmed in C++.</p>
        <h2>Blox</h2>
        <p>A puzzle game where you are an explorer finding treasure.  Programmed using the Haaf Game Engine.</p>

    </div>
</div>

