@{
    ViewBag.Title = "Patrick Yee - Recent Projects";
}

<div class="container">
    <div class="jumbotron" id="top">
        <h1>Recent Projects</h1>
        <p>Patrick wanted a little push back into the software engineer industry, so he attended the SeedPath program.  He was not excepted to learn much from the program, but he did.  The following projects are from the SeedPath program.  These projects were programmed in C#.</p>

        <div class="table">
            <div class="row" id="Favor">
                <div class="col-sm-10"><h2>Favorit.es</h2></div>
                <div class="row">
                    <table>
                        <tr>
                            <td><a href="~/Content/img/screenshot/Favorites.png" target="_blank"><img src="~/Content/img/screenshot/Favorites.png" height="150px" /></a></td>
                            <td><p>Favorit.es was an in-class lesson at SeedPath, but Patrick put some thought into it and made some changes.  The website uses the 'Flickr' API to display photos from the 'Flickr' database based on tags that the user inputs.  The photos are from actual 'Flickr' users, and the program was coded in C# .NET MVC with Visual Studio 2013.  The lesson was about how to program an HTML website with C# and an Application Program Interface (API).  The user selects a photo to be placed into their favorites.  The user can view the favorites and remove photos from there favorites.  Patrick programmed that, if the user has one photo in there favorites and decided to remove it, the website will redirect the user back the home page.  The website is a working process.  Patrick wants this project to be where he can try out, research, or reengineer components on other websites.</p></td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/Favorit.es-FirstDraft" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="Nibbler">
                <div class="col-sm-10"><h2>Cheese Nibbler v0.2</h2></div>
                <div class="row">
                    <table>
                        <tr>
                            <td><a href="~/Content/img/screenshot/CheeseNibber.png"><img src="~/Content/img/screenshot/CheeseNibber1.png" height="150px" /></a></td>
                            <td><p>A console program or game programmed in C#, where the user or the player is the hero that navigates around a level to find the goal.  This is the part of another game where the goal was the end of the level and at certain level enemies will appear.  At the current state of the game, the enemies track and move towards the hero until they on the same position on the level and the game ends.  Patrick like this template and would to integrate this program with another one.  This is portion or a module of a much larger game.  Patrick knows that most programs, games, and website are made up of a number of features or projects.</p></td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/CheeseNibberV2" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="Master">
                <div class="col-sm-10"><h2>Master of the Universe</h2></div>
                <div class="row">
                    <table>
                        <tr>
                            <td class="text-center">
                                <a href="~/Content/img/screenshot/mastOftheUniTitle.png" target="_blank"><img src="~/Content/img/screenshot/mastOftheUniTitle.png" height="150px" /><br />Title screen</a>
                                <a href="~/Content/img/screenshot/mastOftheUnit1.png" target="_blank"><img src="~/Content/img/screenshot/mastOftheUni1.png" height="150px" />UI Screen</a>
                            </td>
                            <td><p>A console game programmed in C#, where the player fights Skeletor with 2 types of attacks and can heal.  Skeletor has similar attacks and healing properties.  This game displays the implementation of classes and inheritance.  The first attack has a chance to do critical hit damage or it can miss.  The second attack is a weaker, but it always hits.  The healing power is not a certain amount, where a character can heal for couple of health points or the full amount.  When you heal and you have full health, it could hurt you.  When Patrick was at Colorado State University, he pledged Triangle Fraternity and his pledge name was Skeletor.  Now, Patrick plays Counter-Strike and other games with the gamer name, 5k3l3t0r.  This game is based on the trolls or annoying players that Patrick encounters in games.  This portion or modules simulates a combat simulator between a player and non-player character.</p></td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/CombatSimulatorV2" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="Poker">
                <div class="col-sm-10"><h2>Poker Player</h2></div>
                <div class="row">
                    <table>
                        <tr>
                            <td><a href="~/Content/img/screenshot/pokerPlayer.png"><img src="~/Content/img/screenshot/pokerPlayer.png" height="150px" /></a></td>
                            <td><p>This is a console program in C# using objects.  There are a deck class and a card class.  The deck holds the cards.  The logic of the program determines if the user has a high card, pair, 2 pairs, 3 of kind, full house, 4 of kind, straight, flush, and straight flush.  The logic uses lambda expressions.  This program can be used as the backbone for a poker game.</p></td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/PokerPlayer" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a></td>
                        </tr>
                        </table>
                </div>
            </div>
            <div class="row" id="Speed">
                <div class="col-sm-10"><h2>Speed is the key</h2></div>
                <div class="row">
                    <table>
                        <tr>
                            <td><a href="https://projecteuler.net/problem=14" target="_blank"><img src="~/Content/img/screenshot/Speed.png" alt="Project Euler" height="150px" /></a></td>
                            <td><p>Big numbers means more time to get results.  Getting the prime for a certain nth prime can be taxing on a system.  Then, with that getting a total of the even primes.  There are algorithms to find the primes, but which one is the fastest to get results.  Patrick find that square rooting the nth term made the program transverse faster.  When, a number was divisible by any number besides itself and 1.  It won't return a prime.  Another algorithm with this project is finding the series of Fibonacci based on a nth term.  The last algorithm of this project was Euler 14 - finding the longest Collatz sequence.  A Collatz sequence is the sequence when computing the following: when a number is even it's divide by 2 and when it is odd it is time 3 and add 1 until the last number is 1.  Patrick found using a recursive function and using a lambda expression to transverse was the fastest.</p></td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/Week3CodeChallenge" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="CSV">
                <h2>CSV: Listening Habits and Real Estate </h2>
                <table>
                    <tr>
                        <td colspan="2"><p>Using lambda expressions with a table, whether if it is someone's listening habits with Last.FM or looking for a home with a multi-listing services. Patrick saw a relationship with Lambda expressions to SQL statements. The lambda expressions made querying through a table much easier. You could use many loops to find the data that you are looking for, but it takes a lot of time and resources to do this way.</p></td>
                    </tr>
                    <tr class="text-center">
                            <td><a href="https://github.com/PatrickSHYee/CSV-ListeningHabits" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source code for Listening Habits</a></td>
                            <td><a href="https://github.com/PatrickSHYee/CSV-RealEstate" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code for Real Estate</a></td>
                    </tr>
                </table>
            </div>
            <div class="row" id="Daily">
                <h2>Reddit: Daily Programmer</h2>
                <p>Took a break from programming to do the SCRUM master training.  Patrick took 2 challenges from reddit's Daily Programmer.  The first challenge he programmed was an April fool program where one of the modders decoded a message or a challenge and now they cannot decode the text.  A very simple challenge Patrick program this in 5 minutes and saw another challenge that he wanted to use this program with another one.  Where he found a similar mastermind game that uses words.  Patrick wanted to use the decoding challenge to make the mastermind game more challenging.  This portion of the program is still in progress.</p>
                <p>The second challenge was how to find the date of Easter Sunday for a range of years.  Patrick has worked a number of Easter Sundays, but he can't tell you the date of any given year.  The only thing he could tell you it was a Sunday.  Given the resources from C# like the object DateTime, Patrick found the first Sunday that occurs in April.  After he programmed this and he added his own spin to the challenge by programmed the other holidays.  When, the holiday occurs on a certain date, he output day when the holiday occurs on.  For next spin for this challenge is to find the lunar new years - the date and the day.  This challenge can be for a calendar or a task manager for a real estate agent. </p>
                <div class="text-center">
                    <a href="https://github.com/PatrickSHYee/DailyProgrammer-Template" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - Source Code</a>
                </div>
            </div>
            <div class="row" id="Hanging">
                <h2>The Hanging Man</h2>
                <table >
                    <tr>
                        <td><a href="~/Content/img/screenshot/HangingMan.png" target="_blank"><img src="~/Content/img/screenshot/HangingMan.png" height="500px" /></a></td>
                        <td><p>This game of hangman is a gruesome one, where there were a lot of hanging men over the time.  This game starts with the man hanging, so when you guess a wrong letter, the game takes a body part.  First, Patrick programmed the game to be impossible and it would be hard to play, so he made two difficulties: normal mode and extreme mode.  He wanted to programmed points or money, where the player can buy back the body parts.  Each correct letter gives the player some points.</p></td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="2"><a href="https://github.com/PatrickSHYee/Week3CodeChallenge" style="color:#aaaaaa" target="_blank"><i class="fa fa-github fa-2x"></i><br />Github- Source Code</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


