
@{
    ViewBag.Title = "Upcoming Projects";
}

<div class="container">
    <div class="jumbotron">
        <h1>Personal Projects</h1>
        <h2 id="Bots">Battlebots</h2>
        <p>A group of developers from the CiGDA meet up and SeedPath graduates want to develop a game together.  Decisions over Google hangouts and a Google Drive has been created.  We are using the Unreal Engine 4.7.2.</p>
        <object type="application/pdf" data="~/Content/readables/PersonalProjectDocument-Battlebots.pdf" height="600" width="100%">
            <a href="~/Content/readables/PersonalProjectDocument-Battlebots.pdf">Download the PDF</a>
        </object>
        <h2 id="King">Kingdom</h2>
        <p>Patrick written a couple of game design documents over past 8 years.  He read many books and design a game based them.  Patrick in the past wrote book reports, but did not enjoy them.  The idea of writing games based on books made writing book reports more enjoyable and he could use his imagination.</p>
        <p>The most recent game design was found at the GameDev.net forums.  Patrick played a Sega Genesis game called, "Shining Force".  The Shining Force series has made Patrick think outside of the box and design a next-gen concept for the series:</p>
        <object data="~/Content/readables/PersonalProjectDocument-Kingdom.pdf" height="600" width="100%">
            <a href="~/Content/readables/ProsonalProjectDocument-Kingdom.pdf">Download the PDF</a>
        </object>
    </div>

    <div class="jumbotron" id="Past">
        <h1>Past Projects</h1>
        <p>Patrick attended and graduated Westwood College of Technology, where he learned about designing and programming video games.  His dream job is to work for as software engineer or own his  video game company.  Patrick has develop his own 2D engine and used software development kits (SDK).  The following projects are programmed in C++.  The projects were programmed about 8 years ago.  If you have a Windows XP machine, you can run the projects.</p>
        <div class="text-center">
            <a href="https://github.com/PatrickSHYee/Past" style="color:#aaaaaa"><i class="fa fa-github fa-2x"></i><br />Github - source for all the following projects.</a>
        </div>
        <h2>Blox</h2>
        <p>You are an explorer searching for treasure.  You navigate through the levels.  Sorry Patrick lost the code, but you can play it.  The game uses the Haaf Game Engine.</p>
        <h2>SpyGame and Gasode</h2>
        <p>Patrick developed the game engine for SpyGame and Gasode's game engine was programmed by Kai Acredolo.  Gasode purpose was for a cross platform project.  Source is available.</p>
        <div class="text-center">
            <a href=""></a>
        </div>
    </div>
</div>

