<!--
    About page
-->
<title>About Patrick Yee</title>
<div class="container">
    <div class="jumbotron">
        <table class="table">
            <tr>
                <td colspan="2">Technology and Education - The love and dedication for education and technology has driven Patrick to seek a degree in the field of software engineering.
                <ul>
                    <li>Bachelor's of Science in Game Software Development</li>
                    <li>Saved parts list from <a href="https://pcpartpicker.com/user/5k3l3t0r/saved/" target="_blank">PCPartPickers.com</a> for future builds.</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>Music
                    <ul>
                        <li>All genres of music</li>
                        <li>Jay Chou, LMF, Andy Lau, ManHand...</li>
                        <li>Toby Keith, Luke Bryan...</li>
                        <li>Pantra, Rob Zombie, Hollywood Undead, Queen...</li>
                    </ul>
                </td>
                <td class="text-left"><img src="~/Content/img/heavymetal.png" alt="Heavy Metal" height="150px" /></td>
            </tr>
            <tr>
                <td class="text-right"><a href="http://steamcommunity.com/id/5k3l3t0r" target="_blank"><i class="fa fa-steam-square fa-5x" style="color:#000000;"></i></a></td>
                <td>Gamer
                    <ul>
                        <li>Counter-Strike (1.5 - Global Offensive)</li>
                        <li>Over thundreds of hours and 600 competitive match making wins.</li>
                        <li>Private Steam Workshop</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Watches for the technology on youTube.</li>
                        <li><a href="https://www.youtube.com/channel/UCPIGp_VyHxlVghzvgPgiy6Q">LinusTechTips</a>, <a href="https://www.youtube.com/channel/UC1MwJy1R0nGQkXxRD9p-zTQ">Barnacules Nerdgasm</a>, <a href="https://www.youtube.com/channel/UCkWQ0gDrqOCarmUKmppD7GQ">JayzTwoCents</a></li>
                        <li>International music videos</li>
                    </ul>
                </td>
                <td class="text-left"><a href="https://www.youtube.com/channel/UCPIGp_VyHxlVghzvgPgiy6Q"><i class="fa fa-youtube fa-5x"></i></a></td>
            </tr>
        </table>
    </div>
    <div class="text-center">
        <h1>FULL STACK DEVELOPER</h1>
    </div>
</div>
