@{
    ViewBag.Title = "Patrick Yee - Portfolio";
}

<!--
    This is the landing portion. It contains:
        The name
        The position of seeking
        a briefing about myself
-->
<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Active item and splash page-->
        <div class="item active">
            <div class="container">
                <div class="carousel-caption text-center">
                        <h1>Patrick Yee</h1>
                        <h2>Passionate thinker for development and successful understanding of programming and perverseness to learn.</h2>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption text-center">
                    <center>
                        <h1>Patrick Yee</h1>
                        <h2>Seeking a FULL-STACK DEVELOPER position</h2>
                    </center>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption text-center">
                        <h1>Patrick Yee</h1>
                        <h2>Enjoys listening all genres of music: Toby Keith, Jay Chou, L.M.F., Pantera, STP, and many more.  A big sap for Christmas movies, but still like watching sci-fi and adventure movies.  Watches youTube for the technology not just for the laughs - JayzTwoCent, LinusTechTips, and Tek Syndicate.</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a href="#myCarousel" class="left carousel-control" data-slide="prev">
        <span class="icon-prev" />
    </a>
    <a href="#myCarousel" class="right carousel-control" data-slide="next">
        <span class="icon-next" />
    </a>
</div>



    <div class="row">
    </div>
