@{
    ViewBag.Title = "Patrick Yee - Portfolio";
}

<!--
    This is the landing portion. It contains:
        The name
        The position of seeking
        a briefing about myself
-->
<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Active item and splash page-->
        <div class="item active">
            <div class="container">
                <div class="text-center">
                    <table class="table">
                        <tr>
                            <td><i class="fa fa-windows fa-5x"></i></td>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/MVCHtml5Toolkit.1.2.0.png" /></td>
                            <td><img style="width:96px;" src="~/Content/img/visual_studio_2010_matt.png" alt="http://rocketdock.com/addon/icons/44255" /></td>
                            <td><a href="http://www.designbolts.com"><img src="~/Content/img/Adobe-Photoshop-CC-icon.png" alt="http://www.designbolts.com" /></a></td>
                        </tr>
                        <tr>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/gimp.png" /></td>
                            <td><i class="fa fa-linux fa-5x"></i></td>
                            <td><img src="~/Content/img/ScrumMaster_Logo_Seal.png" /></td>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/eclipse.png" /></td>
                        </tr>
                    </table>
                </div>
                <div class="carousel-caption text-center">
                        <h1>Patrick Yee</h1>
                        <h2>Passionate thinker for development and successful understanding of programming and perverseness to learn.</h2>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="text-center">
                    <i class="fa fa-refresh fa-spin fa-large"></i>
                    <h1>The background was done in Adobe Photoshop by Patrick Yee</h1>
                    <h1>This website was done in Visual Studio 2013 by Patrick Yee</h1>
                </div>
                <div class="carousel-caption text-center">
                    <center>
                        <h1>Patrick Yee</h1>
                        <h2>Seeking a FULL-STACK DEVELOPER position</h2>
                    </center>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div>
                    <table class="table">
                        <tr>
                            <td><img src="~/Content/img/country-music.jpg" /></td>
                            <td><img style="width:250px" src="~/Content/img/YouTube-logo-light.png" /></td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/img/heavymetal.png" /></td>
                            <td><i class="fa fa-steam-square fa-large"></i></td>
                        </tr>
                    </table>
                </div>
                <div class="carousel-caption text-center">
                        <h1>Patrick Yee</h1>
                        <h2>Enjoys listening all genres of music: Toby Keith, Jay Chou, L.M.F., Pantera, STP, and many more.  A big sap for Christmas movies, but still like watching sci-fi and adventure movies.  Watches youTube for the technology not just for the laughs - JayzTwoCent, LinusTechTips, and Tek Syndicate.</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a href="#myCarousel" class="left carousel-control" data-slide="prev">
        <span class="fa fa-caret-left fa-4x fa-jusify" />
    </a>
    <a href="#myCarousel" class="right carousel-control" data-slide="next">
        <span class="fa fa-caret-right fa-4x fa-jusify" />
    </a>
</div>



    <div class="row">
    </div>
