@{
    ViewBag.Title = "Patrick Yee - Portfolio";
}

<!--
    This is the landing portion. It contains:
        The name
        The position of seeking
        a briefing about myself
-->
<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Active item and splash page-->
        <div class="item active">
            <div class="container">
                <div class="text-center">
                    <i class="fa fa-refresh fa-spin fa-large"></i>                    
                </div>
                <div class="carousel-caption text-center">
                        <h1>Patrick Yee</h1>
                        <h2>Full-Stack Developer</h2>
                        <h2>Curious ~ Dedicated ~ Successful</h2>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="text-center">
                    <table class="table">
                        <tr>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/gimp.png" /></td>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/eclipse.png" /></td>
                            <td><img src="~/Content/img/ScrumMaster_Logo_Seal.png" /></td>
                            <td><img style="width:96px;" src="~/Content/img/visual_studio_2010_matt.png" alt="http://rocketdock.com/addon/icons/44255" /></td>
                        </tr>
                    </table>
                </div>
                <div class="carousel-caption text-center">
                    <table class="table">
                        <tr>
                            <td><i class="fa fa-windows fa-5x"></i></td>
                            <td><img style="width:96px;height:96px;" src="~/Content/img/MVCHtml5Toolkit.1.2.0.png" /></td>
                            <td><i class="fa fa-linux fa-5x"></i></td>
                            <td><a href="http://www.designbolts.com"><img src="~/Content/img/Adobe-Photoshop-CC-icon.png" alt="http://www.designbolts.com" /></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="text-center">
                    
                </div>
                <div class="carousel-caption text-center">
                    <center>
                        <h1>The background was created in Adobe Photoshop.</h1>
                        <h1>This website was coded with Visual Studio 2013.</h1>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a href="#myCarousel" class="left carousel-control" data-slide="prev">
        <span class="fa fa-caret-left fa-4x fa-jusify" />
    </a>
    <a href="#myCarousel" class="right carousel-control" data-slide="next">
        <span class="fa fa-caret-right fa-4x fa-jusify" />
    </a>
</div>



    <div class="row">
    </div>
