
@{
    ViewBag.Title = "Patrick Yee - Resume";
}


<div class="container">
    <div class="jumbotron text-center" style="height:inherit">
        <h2>Patrick Yee - Resume</h2>
        <object data="~/Content/readables/PatrickYeeResume.pdf" type="application/pdf" width="100%" height="1150">
            <p><a href="~/Content/readables/PatrickYeeResume.pdf">Download Patrick's Resume</a></p>
        </object>
    </div>
</div>
