html,
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #4b4437;
    background-image: url("img/landingPage.jpg");
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Customize navbar*/
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar-brand {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-wrapper .navbar .container{
    width: auto;
}

.navbar-brand img{
    height: 35px;
    width: 35px;
}

.navbar-inverse {
  background-color: #4b4437;
  border-color: #aaaaaa;
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-weight: bold;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #bab6ab;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #bab6ab;
  background-color: transparent;
}

.nav > li.disabled > a{
    color: #000000;
}

.dropdown hover{
    visibility: visible;
}

/* Full Slider */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption{
    color: #000000;
}

.fa-jusify {
    position:absolute;
    top:50%;
    left:50%;
}

.fa-large{
    font-size:15em;
}

footer {
    margin: 50px 0;
    color: #ffffff;
}

h2,
h3 {
    color: #000000;
}

/* social footer */
.socialFooter {
    background-color: #4b4437;
    color:#ffffff;
}

.navbar-text > a{
    color: #aaaaaa;
}

.navbar-text > a:hover .fa-google-plus-square{
    color: red;
}

.navbar-text a:hover .fa-github-square{
    color: #333333;
}

a .fa-github{
    color: #aaaaaa;
}

a:hover .fa-github{
    color: #333333;
}

.navbar-text >a:hover .fa-facebook-square{
    color: #3b5998;
}

.navbar-text > a:hover .fa-steam-square{
    color: #000000;
}

.navbar-text > a:hover .fa-soundcloud{
    color: #ff8800;
}

a .fa-youtube {
    color: red;
}